body{
  margin:0;
  font-family:Arial;
  background:#111;
  color:#fff;
}

header{
  background:#000;
  padding:30px;
  text-align:center;
}
h1{ color:gold; }

.categories button{
  margin:5px;
  background:#222;
  color:#d4af37;
  border:1px solid #d4af37;
  padding:8px 15px;
  cursor:pointer;
}
.categories button:hover{
  background:gold;
  color:#000;
}

.products{
  display:grid;
  grid-template-columns:repeat(auto-fit, minmax(250px,1fr));
  gap:20px;
  padding:30px;
}

.card{
  background:#111;
  border:2px solid gold;
  padding:15px;
  border-radius:10px;
  transition: transform 0.3s, box-shadow 0.3s;
}
.card:hover{
  transform: translateY(-10px);
  box-shadow: 0 10px 30px rgba(255,215,0,0.5);
}

.card img{
  width:100%;
  height:300px;
  object-fit:cover;
  border-radius:6px;
}

button{
  background:gold;
  border:none;
  padding:10px;
  cursor:pointer;
  margin:5px 0;
}

.whatsapp{
  position:fixed;
  bottom:20px;
  right:20px;
  background:#25d366;
  color:#fff;
  padding:15px 25px;
  text-decoration:none;
  border-radius:30px;
  font-weight:600;
  box-shadow:0 8px 20px rgba(0,0,0,0.4);
}
